html{
    scroll-behavior: smooth;
}
/* BARRA DE ROLAGEM AZUL */
::-webkit-scrollbar {
    background-color: #fff;
}

::-webkit-scrollbar-corner {
    background-color: midnightblue;
}
::-webkit-scrollbar-corner {
    background-color: midnightblue;
}

::-webkit-scrollbar-thumb :hover{
    background-color: midnightblue;
    border: 0px;
}

*{
    margin: 0;
    padding: 0;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;

}

#nav li:hover{
    opacity:0.9;
    background: rgba(71, 59, 87, 0.3);
}


#logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2%;
}

#icone{
    width:50px;
    margin-right: 1%;
    padding-right: 10px;
    border-radius: 25%;
}
#header{
    display: flex;
    align-items: center;
    height: 8vh;
    justify-content: space-between;
    background-color: midnightblue;
}

#btn-mobile{
    display: none;
}

#btn-mobile div{
    width: 32px;
    height: 3px;
    background: #fff;
    margin: 8px;
}

#nav{
    display: flex;
    font-family:system-ui, Georgia, 'Times New Roman', Times, serif;
}

main{
    background: url("tech2.png") no-repeat center center;
    opacity: 0.8;
    background-size: cover;
    height: 92vh;
}

#header{
    display: flex;
}

#menu{
    list-style: none;
    display: flex;
    text-align: center;
    font-size: 15px;
}

#menu li{
    letter-spacing: 3px;
    margin-left: 32px;
    background-color: rgba(25, 25, 112,0.6);
    padding: 0.5vh;
    text-align: center;
    align-items: center;
}

#menu li:hover{
    background-color: rgb(70, 10, 159);
    border-radius: 5%;
    border: 3px;
    border-style: solid;
    border-color: #fff;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

#menu a{
    display: block;
    padding: 1vw;
    text-align: center;
}



/*
    Menu Mobile

*/
#mobile-menu{
    display: none;
    cursor:pointer;
}

#mobile-menu div{
    
    width: 32px;
    height: 2px;
    background: whitesmoke;
    margin: 8px;
}

        @media (max-width:999px) {
            body{
                overflow-x: hidden;
            }

            #btn-mobile{
                display: block;
                left: 1vw;
                padding: 3px;
                border-radius: 50%;
                background:rgba(0, 0, 0, 0.3);
                transition: .3s ease-in;
            }

            #btn-mobile:hover{
                background: black;
            }
            
            #menu{
                position:absolute;
                top: 8vh;
                right: 0vw;
                width: 100%;
                height: 33vh;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                z-index: 1000;
                transform: translateX(100%);
            }
            #menu li{
                margin-left: 0;
                opacity: 0.99;
                text-align: center;
                align-items: center;
                transition: 0.2s ease-in;
            }
            #menu li:hover{
                background-color: rgb(70, 10, 159);
                border-radius: 5%;
                padding-left: 10px;
                font-size: 16px;
                text-shadow: 1px 1px red;
            }
            #mobile-menu{
                display: block;
            }
            
            #nav.active #menu{
                display: block;
                transform: translate(0%);
                transition: 0.2s ease;
                overflow-y: auto;
            }
            
        }
